# Python
__pycache__/
*.py[cod]
*.pyc
*.so

# База данных SQLite
db.sqlite3
*.sqlite3

# Виртуальное окружение
venv/
env/
.env

# Файлы IDE
.vscode/
.idea/
*.swp

# Файлы настроек, содержащие секреты (если есть)
.env
*.local